@import 'normolize'
@import 'elements'
@import 'slick'
@import 'modal'
@import 'header'
@import 'footer'

.main
    position: relative
    z-index: 1
    padding: 0 0 8vw
    top: -10px
    &__head
        margin: 0 0 84px
        width: 100%

    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center bottom
        z-index: -111

    .content
        width: 520px
        max-width: 70%

    .container
        padding: 8vw $padd 7.5vw

    &__text
        font-size: 30px
        text-align: center
        color: white
        margin-bottom: 16px

    .btn
        width: 100%
        max-width: 520px

    @media screen and ( max-width: 1000px )
        .content

    @media screen and ( max-width: 720px )
        .container
            padding: 13vw var(--padd) 14.5vw

        &__head
            margin-bottom: 30px

        &__text
            font-size: 16px

.cat
    padding-top: 0

    &-wrap
        gap: 50px

    .item
        text-align: center
        width: calc( 33.33% - 34px )
        padding: 34px
        border-radius: 15px
        box-shadow: 0px 3.97px 25px 0px rgba(0,0,0,.1)
        color: #000
        img
            display: block
            width: 100%
            margin: 0 0 20px

        h3
            font-weight: 600
            font-size: 34px
            margin: 0

    &--main
        padding: 78px 0
        .h2
            text-align: center

        .cat-wrap
            padding-bottom: 60px
            &:last-of-type
                padding-bottom: 0

    .subheading
        font-size: 30px
        margin: 0 0 30px
        color: #4C4C4C

    @media screen and ( max-width: 1500px )
        &-wrap
            gap: 20px

        .item
            width: calc( 33.33% - 14px )
            h3
                font-size: 26px

    @media screen and ( max-width: 1000px )
        &-wrap
            gap: 20px

        .item
            width: calc( 50% - 10px )
            padding: 10px 10px 30px
            img
                margin-bottom: 12px

    @media screen and ( max-width: 720px )
        .subheading
            text-align: left
            font-size: 20px
            margin-bottom: 15px

        &-wrap
            gap: 15px 10px

        .item
            width: calc( 50% - 5px )
            border-radius: 8px
            padding: 10px 10px 15px
            h3
                font-size: 14px

        &--main
            padding: 38px 0 60px
            .cat-wrap
                padding-bottom: 40px

.why
    overflow: hidden
    @media screen and ( min-width: 1000px )
        .title
            position: relative
            z-index: 1
            &::before
                content: ''
                pointer-events: none
                display: block
                width: 120%
                height: 180%
                position: absolute
                z-index: -11
                top: 52%
                left: 24%
                transform: translate(-50%, -50%)
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
                background-image: url('../img/vec-bg.svg')

    .descr
        font-size: 20px
        color: #1E1E1E
        margin: 0 0 20px

    h2
        width: fit-content
        padding-bottom: 3px
        border-bottom: 2px solid $prime

    .text
        font-size: 26px
        line-height: 130%
        margin: 0 0 40px

    .title,
    &__img
        width: 48%

    @media screen and ( max-width: 1500px )
        .text
            font-size: 20px

    @media screen and ( max-width: 1000px )
        h2, .descr
            margin:
                left: auto
                right: auto
            text-align: center

        .text
            text-align: center

        &__img
            width: 100%
            display: block

        .btn
            display: block

        .title
            width: 100%
            max-width: 600px
            margin: 0 auto

    @media screen and ( max-width: 720px )
        .descr
            font-size: 14px
            margin-bottom: 8px
        .text
            font-size: 16px
            margin-bottom: 20px

.features
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url('../img/line.svg')
    .item
        border: 1px solid $sec
        padding: 40px
        border-radius: 15px
        width: 30%
        text-align: center
        background-color: #fff
        box-shadow: 0px 3.97px 25px 0px rgba(0,0,0,.1)
        h3
            font-size: 36px
            color: $prime
            line-height: 130%
            margin-bottom: 20px

        p
            font-size: 22px
            line-height: 130%
            color: #4C4C4C

    @media screen and ( max-width: 1500px )
        .item
            padding: 25px
            width: 32%
            h3
                font-size: 26px

            p
                font-size: 18px

    @media screen and ( max-width: 1000px )
        .container
            gap: 30px 6%

        .item
            width: 47%
            margin: 0 auto

    @media screen and ( max-width: 720px )
        background-image: url('../img/line-mob.svg')
        background-size: cover
        .container
            gap: 24px 6%
        .item
            width: 100%
            h3
                margin-bottom: 14px
                br
                    display: none

.galery
    text-align: center
    overflow: hidden
    h2
        margin-bottom: 32px

    &-slide
        width: 75vw
        max-width: 777px
        padding: 110px 0
        @media screen and ( max-width: 720px )
            padding: 60px 0
        @media screen and ( max-width: 720px )
            padding: 40px 0

    &-slider
        max-width: 1920px
        margin: 0 auto

        img
            margin: 0 auto
            display: block
            border-radius: 15px

        .slick
            &-slide
                transition: transform 0.3
            &-track
                display: flex !important
                align-items: center

            &-slide,
            &-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
                transform: scale(0.8)
                opacity: .5

            &-center,
            &-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
                transform: scale(1.12)
                opacity: 1

            @media screen and ( max-width: 720px )
                &-slide,
                &-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
                    transform: scale(0.8)

                &-center,
                &-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
                    transform: scale(1.11)

.partners
    text-align: center
    img
        width: 17%
        display: block
        max-height: 170px
        object-position: center center
        object-fit: contain
        margin: 0 auto

    @media screen and ( max-width: 1000px )
        &-wrap
            overflow-x: scroll
            gap: 32px
            width: 100vw
            position: relative
            z-index: 1
            left: calc( 0px - $padd )
            padding: 0 $padd
            &::-webkit-scrollbar
                display: none

        img
            width: 32vw

.contacts
    &-box
        padding: 80px
        border-radius: 40px
        background-color: rgba(#090C4B, .9)
        color: #fff
        background-repeat: no-repeat
        background-position: center center
        background-size: cover
        background-image: url('../img/patern.svg')
        *
            color: #fff

        .logo
            width: 100%
            max-width: 54%
            margin-bottom: 20px

        .title
            width: 45%

        iframe
            border-radius: 15px
            background-color: #f6f6f6
            width: 53%
            min-height: 450px
            margin-left: auto

        .text
            font-size: 26px
            margin-bottom: 40px

        .header-cont
            display: block !important
            &__item
                font-weight: bold
                font-size: 26px
                img
                    width: 30px

        h2
            font-size: 44px
            margin-bottom: 10px

        @media screen and ( max-width: 1200px )
            padding: 30px
            .logo
                max-width: 68%

        @media screen and ( max-width: 1000px )
            .header-cont
                a
                    color: white
                img
                    filter: brightness(10)

        @media screen and ( max-width: 900px )
            display: block
            padding: 20px
            border-radius: 15px
            .title
                width: 100%

            .logo
                margin-bottom: 10px

            h2
                font-size: 26px
                text-align: left

            .text
                font-size: 18px
                margin-bottom: 10px

            iframe
                margin-top: 20px
                border-radius: 10px
                width: 100%
                min-height: 400px

            .header-cont
                width: 100%
                &__item
                    gap: 11px
                    font-size: 20px
                    img
                        width: 25px

.card
    padding: 60px 0
    .h2
        text-align: center

    &-wrap
        gap: 50px

    &-slider
        margin: 0 0 15px
        padding: 30px

    &-slider,
    &-nav
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,.08)
        overflow: hidden
        border-radius: 15px
        img
            aspect-ratio: 16/8
            object-fit: contain

    &-nav
        margin: 10px
        padding: 7px

    &-img
        width: calc( 56% - 25px )
        img
            display: block
            width: 100%

    &-title
        width: calc( 46% - 25px )
        p
            font-size: 24px
            line-height: 130%
            margin: 0 0 30px

        ul
            list-style: none
            margin: 0 0 30px
            li
                font-size: 24px
                line-height: 130%
                margin-bottom: 4px
                &:last-child
                    margin: 0

    &-price
        text-align: center
        padding: 40px 20px
        border-radius: 15px
        box-shadow: 0px 3.97px 25px 0px rgba(0,0,0,.1)
        .h2
            font-size: 40px
            text-decoration: underline
            margin: 0 0 20px

        .btn
            font-size: 33px

    &-info
        margin-top: 40px
        box-shadow: 0px 3px 15px 0px rgba(0,0,0,.08)
        border-radius: 15px
        padding: 54px
        &__list
            max-width: 1034px
            margin: 0 auto
            list-style: none
            list-style-type: none
            counter-reset: custom-counter
            span
                display: block
                max-width: 62%
                &::first-letter
                    text-transform: uppercase

            i
                font-style: normal
                max-width: 36%

            li
                font-size: 19px
                display: flex
                list-style: disc
                flex-wrap: wrap
                padding: 10px 20px
                justify-content: space-between
                &:nth-child(odd)
                    background-color: #F5F7FF

                ul
                    width: 100%
                    padding-top: 5px
                    list-style-type: none
                    li
                        padding: 5px 10px
                        padding-left: 25px
                        position: relative
                        z-index: 1
                        background-color: rgba(0, 0, 0, 0) !important

                        &::before
                            content: ''
                            width: 5px
                            height: 5px
                            border-radius: 50%
                            background-color: #000
                            display: inline-block
                            position: absolute
                            top: 15px
                            font-weight: 500
                            left: 5px
                            z-index: 100

                        @media screen and ( max-width: 720px )
                            padding-left: 25px
                            &::before
                                top: 12px
                                left: 11px
            & > li
                position: relative
                z-index: 1
                padding-left: 55px
                &::before
                    content: counter(custom-counter)
                    counter-increment: custom-counter
                    display: inline-block
                    font-size: 18px
                    position: absolute
                    opacity: .5
                    top: 11px
                    font-weight: 500
                    text-align: center
                    min-width: 23px
                    left: 18px
                    z-index: 100

                @media screen and ( max-width: 720px )
                    padding-left: 36px
                    &::before
                        font-size: 14px
                        left: 11px
                        min-width: 16px
                        text-align: center

    @media screen and ( max-width: 1000px )
        padding: 40px 0

        &-wrap
            display: block

        &-img,
        &-title
            width: 100%

        &-slider
            padding: 15px
        &-nav
            margin: 6px 6px 20px

        &-title
            p
                font-size: 18px
                margin-bottom: 15px

            ul
                margin-bottom: 15px
                li
                    font-size: 18px

        &-price
            .h2
                font-size: 28px

            .btn
                font-size: 24px

    @media screen and ( max-width: 720px )
        &-info
            padding: 25px 12px
            &__list
                li
                    font-size: 14px
                    ul

.tabs
    border: 1px solid #D7D7D7
    border-radius: 15px
    margin-bottom: 40px
    &__btn
        border-radius: 15px
        font-size: 20px
        padding: 15px
        min-width: 20%
        &.active
            border: 1px solid $prime

    @media screen and ( max-width: 720px )
        margin-bottom: 15px
        &__btn
            font-size: 14px
            padding: 12px 10px

// @import 'review'
